// ===================================================================
// 設定
// ===================================================================
$icon-font-path: '../fonts/';
$set_prefix: -webkit-, -moz-, -ms-, -o-, '';  

//フォントカラー変数
$color-level1: #c20000;
$color-level2: #89ce27;
$color-level3: #ff8b00;


//フォントカラー変数
$size-main: 15pt;
$size-s: 12pt;
$size-l: 16pt;
$size-xl: 17pt;

// 画像のパス
$img_path: "../img/";

// ベースフォント
$base_font: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
$base_font_ie: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;



// ===================================================================
// mixin
// ===================================================================

// border-radius
@mixin border_radius($br_value) {
	@each $prefix in $set_prefix {
		#{$prefix}border-radius: $br_value;
	}
}
  
// drop-shadow
@mixin drop_shadow($x, $y, $size, $spread, $color) {
	@each $prefix in $set_prefix {
		#{$prefix}box-shadow: $x, $y, $size, $spread, $color;
	}
}
  
// background-size
@mixin bg_size($w, $h: auto) {
	@each $prefix in $set_prefix {
		#{$prefix}background-size: $w $h;
	}
}
// min-height
@mixin min_height($value) {
	min-height: $value;
	_height: $value;
}



// ===================================================================
// bootstrap読み込み
// ===================================================================
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower





// ===================================================================
// bootstrap override
// ===================================================================
html,body {
  font-size: $size-main;
  background: #dddbcf;
}


// ===================================================================
// オリジナル定義
// ===================================================================
//utility
.font-small {
  font-size: $size-s;
}

//ヘッダー
.navbar-light {
  background: #ffffff;
}
h1 {
  margin-top: 10px; 
  text-align: center;
  font-size: $size-l;
}

.nav-link-back {
  position: absolute;
  left: 20px;
  top:10px;
}

.nav-link-sort {
  position: absolute;
  right: 20px;
  top:10px;
}

//申請待一覧
.cards-wrapper{
  padding: 0 20px
}

.card {
  background: #ffffff;
  @include border_radius(5px);
  @include drop_shadow(0,0,5,3,#000000);
}

